{% extends "base.html" %}
{% block title %}View Population{% endblock %}

{% block content %}
    
    <h2 style="text-align: center;">City Population Table</h2>
    <div id ="pop_table">
    <table style="border-collapse: collapse; width: 60%; margin-left: auto;
  margin-right: auto;" border="1">
        <tbody>
        <tr>
        <th style="width: 15%;">City_name</th>
        <th style="width: 15%;">State</th>
        <th style="width: 15%;">Population</th>
        <th style="width: 15%;">city_size</th>
        </tr>
	{% for c_name, state, pop, size in city_list %}
		<tr>
        	<td style="text-align:center">{{ c_name }}</td>
            <td style="text-align:center">{{ state }}</td>
        	<td style="text-align:center">{{ pop }}</td>
        	<td style="text-align:center">{{ size }}</td>
    		</tr>
	{% endfor %}
	</tbody>
     </table>
     </div>
    <br></br>
    <div class='edit_message'>
    {% if message %}
        <p style="text-align: right;">{{ message }}</p>
    {% endif %}
    </div>

    <form action="" method="POST">
        <p style="text-align: right;"> 
           <label for="cityname">City Name</label>
           <input type="text" name = "cityname" value="" required> 
           <label for="state">City Name</label>
           <input type="text" name = "state" value="" required>
           <label for="population">Population</label>
           <input type="number" name = "population" value="" required>  
        </p>
        <p style="text-align: right;"><input type="submit" value="Edit Population">
     </form>
{% endblock %}